<!DOCTYPE html>

<!--[if gt IE 8]><!-->
 <html lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>F-1 Feeder</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
  <!--  <script src="js/services.js"></script>-->
    <script src="js/controller.js"></script>
      <script src="js/service.js"></script>


</head>
<body ng-app="F1FeederApp" ng-controller="driverController">
  <input type="text" ng-model="nameFilter" value="">
<table>
  <thead>
  <tr><th colspan="4">Drivers Championship Standings</th></tr>
  </thead>
  <tbody >
    <tr ng-repeat="driver in driversList |filter:nameFilter">
      <td >
      {{$index+1}}
      </td>
      <td>
        {{driver.nationality}}

         {{driver.Driver.givenName}}

      </td>
      <td>
        {{driver.Constructors[0].name }}
      </td>
          <td>
        {{driver.points}}
      </td>
    </tr>
  </tbody>
</table>




</body>
</html>
